.directory-item {
  flex: 1 1 33%;
  min-width: 33%;
  position: relative;
  padding: 0.67rem;
  &:hover{
    cursor: pointer;
    .image{
      img{
        transform: scale(1.1);
        transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }
    .content {
      opacity: 0.9;
    }
  }
  .box{
    height: 16rem; //240px
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.01); // fix image bug (because use flex: 1 1 33%)
      transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }
  .content {
    position: absolute;
    height: 6rem;
    padding: 0 1.67rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    background-color: #ffffff;
    opacity: 0.7;
  }
  .title {
    font-weight: bold;
    margin-bottom: 0.33rem;
    font-size: 1.47rem;
    color: #4a4a4a;
  }
  .subtitle {
    font-weight: lighter;
    font-size: 1.07rem;
  }
}